
<div class="sidenav">
    <div class="logo">
        <a class="simple-text logo-mini">
          <div class="logo-img">
              <img src="../../../../favicon.ico"/><span class="text-white" routerLink="/dashboard">Assignment</span> 
          </div>
        </a>         
      </div>
      <span class="border-bottom-0 border-success"></span>

      <ul class="nav flex-column">
          <li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
            <!--If is a single link-->
            <a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link"> <i class="fa fa-{{menuitem.icontype}}"></i>
             {{menuitem.title}}
            </a>
          </li>
        </ul>
      <!-- <ul class="nav navbar-nav">
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/dashboard']">DASHBOARD</a></li>
          <li [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}"> <a [routerLink]="['/customers']">CUSTOMERS</a></li>
        </ul> -->
  <!-- <a href="javascript:void(0)" routerLink="/dashboard" [routerLinkActive]="['active']">DASHBOARD</a>
  <a href="javascript:void(0)" routerLink="/customers" [routerLinkActive]="['active']">CUSTOMERS</a> -->
</div>