/* You can add global styles to this file, and also import other style files */
body {
  font-family: 'Montserrat', sans-serif !important;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  color: white;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.active{
  color: #f1f1f1;
  background-color: #818181;
}
.main {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
  padding: 0px 10px;
}

.main-panel {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  font-size: 28px;
  /* Increased text to enable scrolling */
}


.main-content {
  margin-left: 160px;
  /* Same as the width of the sidenav */
  padding: 0px 10px;
  padding-top: 15px;
}

.fa {
  cursor: pointer;
}

.p-10 {
  padding-top: 10%;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
